/**
 * Colors (colors.styl)
 * --------------------
 * @author OhLabs™ <@OhLabsIO> (https://ohlabs.io)
 * @since  0.1.0
 * @desc   Provides variables for 'flatter' color
 *         palette. Requires '$' when called, in
 *         order not to interfere with the
 *         original css colors.
 */

// primary colors
$red    = hsl(0, 95%, 55%)
$green  = hsl(96, 61%, 53%)
$blue   = hsl(200, 96%, 44%)
$yellow = hsl(51, 94%, 52%)

// grays
$gray1 = hsl(0,0%,10%)
$gray2 = hsl(0,0%,20%)
$gray3 = hsl(0,0%,30%)
$gray4 = hsl(0,0%,40%)
$gray5 = hsl(0,0%,50%)
$gray6 = hsl(0,0%,60%)
$gray7 = hsl(0,0%,70%)
$gray8 = hsl(0,0%,80%)
$gray9 = hsl(0,0%,90%)

// additionals
$saphire       = hsl(181, 100%, 38%)
$green-sea     = hsl(169, 100%, 33%)
$teal          = hsl(168, 100%, 38%)
$niagara       = hsl(172, 100%, 36%)
$forest-green  = hsl(152, 100%, 36%)
$emerald       = hsl(152, 100%, 42%)
$spring-grass  = hsl(96, 61%, 53%)
$squeezed-lime = hsl(77, 69%, 53%)
$cream-can     = hsl(47, 66%, 63%)
$ripe-lemon    = hsl(51, 94%, 52%)
$sunflower     = hsl(49, 100%, 48%)
$orange        = hsl(36, 100%, 50%)
$fire-bush     = hsl(21, 86%, 55%)
$carrot        = hsl(29, 100%, 47%)
$pumpkin       = hsl(17, 100%, 44%)
$pomegranate   = hsl(356, 93%, 42%)
$valencia      = hsl(3, 84%, 58%)
$alizarin      = hsl(359, 94%, 55%)
$red-delicious = hsl(0, 100%, 50%)
$candy-caane   = hsl(345, 100%, 50%)
$ice-cream     = hsl(332, 100%, 50%)
$pink          = hsl(332, 100%, 50%)
$lavender      = hsl(291, 48%, 64%)
$amethyst      = hsl(292, 48%, 48%)
$wisteria      = hsl(293, 73%, 39%)
$purple        = hsl(292, 48%, 48%)
$navy          = hsl(246, 55%, 50%)
$fairyland     = hsl(200, 96%, 44%)
$shakespeare   = hsl(196, 51%, 64%)
$aqua          = hsl(181, 45%, 58%)
$lynch         = hsl(201, 30%, 62%)
$silver        = hsl(202, 9%, 76%)
$concrete      = hsl(180, 7%, 52%)
$midnight-blue = hsl(211, 32%, 24%)
$black         = hsl(190, 6%, 19%)
$macchiato     = hsl(33, 40%, 44%)
$latte         = hsl(38, 39%, 64%)
$dark-cream    = hsl(40, 18%, 67%)
$brown         = hsl(33, 40%, 44%)

// alias if overwrite colors
if overwrite-colors

  // primary colors
  red    = $red
  green  = $green
  blue   = $blue
  yellow = $yellow

  // grays
  gray1 = $gray1
  gray2 = $gray2
  gray3 = $gray3
  gray4 = $gray4
  gray5 = $gray5
  gray6 = $gray6
  gray7 = $gray7
  gray8 = $gray8
  gray9 = $gray9

  // additionals
  saphire       = $saphire
  green-sea     = $green-sea
  teal          = $teal
  niagara       = $niagara
  forest-green  = $forest-green
  emerald       = $emerald
  spring-grass  = $spring-grass
  squeezed-lime = $squeezed-lime
  cream-can     = $cream-can
  ripe-lemon    = $ripe-lemon
  sunflower     = $sunflower
  orange        = $orange
  fire-bush     = $fire-bush
  carrot        = $carrot
  pumpkin       = $pumpkin
  pomegranate   = $pomegranat
  valencia      = $valencia
  alizarin      = $alizarin
  red-delicious = $red-delicious
  candy-caane   = $candy-caane
  ice-cream     = $ice-cream
  pink          = $pink
  lavender      = $lavender
  amethyst      = $amethyst
  wisteria      = $wisteria
  purple        = $purple
  navy          = $navy
  fairyland     = $fairyland
  shakespeare   = $shakespeare
  aqua          = $aqua
  lynch         = $lynch
  silver        = $silver
  concrete      = $concrete
  midnight-blue = $midnight-blue
  black         = $black
  macchiato     = $macchiato
  latte         = $latte
  dark-cream    = $dark-cream
  brown         = $brown
