/**
 * Reset (reset.styl)
 * ------------------
 * @author OhLabs™ <@OhLabsIO> (https://ohlabs.io)
 * @since  0.1.0
 * @desc   Based on 'meyer reset'.
 *         Strips styling from all elements.
 *
 * @syntax
 *   reset() - block mixin
 */

// reset

reset()

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video
    margin 0
    padding 0
    border 0
    font-size 100%
    font inherit
    vertical-align baseline

  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section
    display block

  body
    line-height 1

  ol, ul
    list-style none

  blockquote, q
    quotes none

  blockquote:before, blockquote:after,
  q:before, q:after
    content ''
    content none

  table
    border-collapse collapse
    border-spacing 0

  *
  *:before
  *:after
    box-sizing border-box

// auto initiate reset
reset() if auto-reset == "all"

// reset basics

reset-basics()

  @charset "UTF-8"

  html, body, div, span, iframe
  h1, h2, h3, h4, h5, h6, p
  blockquote, pre, strong, em, u
  form, label, ul, ol, li
  header, footer, menu, nav
  section, article, title
  audio, video, img
  iframe, embed
  a, button
    margin 0
    padding 0
    border 0

  *
  *:before
  *:after
    box-sizing border-box

// auto initiate reset basics
reset-basics() if auto-reset == "basics"
