/**
 * Real Height (real-height.styl)
 * ------------------------------
 * @author OhLabs™ <@OhLabsIO> (https://ohlabs.io)
 * @since  0.1.0
 * @desc   Provides mixin that converts viewport
 *         height units (vh) to relative viewport
 *         width (vw) on mobiles.
 *
 * @syntax
 *   real-height [n]
 *
 * @examples
 *   real-height 100vh
 *   real-height 75
 */

real-height()

  // strip units
  args = strip-units(arguments)

  // print out standard height
  height args * 1vh

  // set media to mobile devices
  @media tablet

    // create ratios list
    ratios = '3/4', '2/3', '10/16', '9/16'

    // portrait
    for ratio in ratios

      // set portrait media
      @media only screen and \
             (max-device-aspect-ratio: unquote(ratio)) and \
             (orientation: portrait)

        // print out portrait height
        height round( (args / convert(ratio) ), 2) * 1vw

    // landscape
    for ratio in ratios

      // set landscape media
      @media only screen and \
             (max-device-aspect-ratio: unquote(ratio)) and \
             (orientation: landscape)

        // print out landscape height
        height round( (args * convert(ratio) ), 2) * 1vw
