/**
 * Size (size.styl)
 * ----------------
 * @author OhLabs™ <@OhLabsIO> (https://ohlabs.io)
 * @since  0.1.0
 * @desc   Provides quick way of setting width
 *         and height properties.
 *
 * @syntax
 *   size [n] ...(2)
 *
 * @examples
 *   size 100px
 *   size 10px 20px
 *   size 100vu // viewport units
 */

size()

  // perform check
  if length(arguments) > 2
    error("Size property support up to 2 values at a time.")

  // single value
  if length(arguments) == 1

    // read arguments
    args = join(', ',arguments)

    // viewport units
    if match('vu?', args)
      args = replace('vu', '', args)
      args = unquote(args)

      width args + 'vw'
      height args + 'vh'

    // standard
    else
      width arguments
      height arguments

  // dual value
  else
    width arguments[0]
    height arguments[1]
